.mdl-color--grey-100 {
  background-color: #000000 !important;
}

.mdl-form__row {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.mdl-form__image IMG {
  height: 200px;
  width: 200px;
  /*+box-shadow: -10px 10px 40px -8px;*/
  -moz-box-shadow: -10px 10px 40px -8px;
  -webkit-box-shadow: -10px 10px 40px -8px;
  box-shadow: -10px 10px 40px -8px;
  /*+border-radius: 20px;*/
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  float: right;
  margin-right: 8px;
  border: 4px solid black;
}

.mdl-form__setpoint BUTTON, .mdl-form__rollerblind BUTTON, .mdl-form__buttons BUTTON {
  color: white;
  background-color: rgba(0, 0, 0, 0.761);
  /*+border-radius: 5px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

BUTTON.mdl-button:hover {
  background-color: #000000;
}

.mdl-switch .is-checked .mdl-switch__thumb {
  background-color: #FF4081;
}

.mdl-switch__thumb {
  background-color: black;
}

.mdl-switch .is-checked .mdl-switch__track {
  background: #BDBDBD;
}

.mdl-form {
  /*+border-radius: 10px;*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.page-content {
  background-color: black;
}

BUTTON.mdl-button.mdl-button--raised {
  /*+box-shadow: -3px 3px 5px #D3D8DF;*/
  -moz-box-shadow: -3px 3px 5px #D3D8DF;
  -webkit-box-shadow: -3px 3px 5px #D3D8DF;
  box-shadow: -3px 3px 5px #D3D8DF;
}

BUTTON.mdl-button--accent {
  border: 1px solid #4B4A4A;
  /*+box-shadow: 0px 0px !important;*/
  -moz-box-shadow: 0px 0px !important;
  -webkit-box-shadow: 0px 0px !important;
  box-shadow: 0px 0px !important;
  background-color: rgba(222, 222, 222, 0.607) !important;
  color: #4B4A4A !important;
}
