[Unit]
Description=grafana
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=180
User=root
Group=root

ExecStart=/usr/bin/docker run --name=%n \
  -p 3000:3000 \
  -v /opt/grafana:/var/lib/grafana \
  grafana-release

ExecStop=/usr/bin/docker stop -t 2 %n ; /usr/bin/docker rm -f %n

[Install]
WantedBy=multi-user.target
