[Unit]
Description=openHAB 3
Requires=docker.service
After=docker.service
#Requires=docker.service mariadb.service mosquitto.service
#After=docker.service mariadb.service mosquitto.service

[Service]
Restart=always
RestartSec=180
User=root
Group=root
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run --name=%n --tty \
  -v /etc/localtime:/etc/localtime:ro \
  -v /etc/timezone:/etc/timezone:ro \
  -v /opt/openhab/conf:/openhab/conf \
  -v /opt/openhab/userdata:/openhab/userdata \
  -v /opt/openhab/addons:/openhab/addons\
  --add-host "openhab.master:HOST_IP" \
  -p 80:8080 \
  -p 443:8443 \
  -p 5007:5007 \
  --privileged \
  DOCKER_TAG

ExecStartPost=/bin/mkdir -p /opt/openhab/addons
ExecStartPost=/bin/ln -fs /opt/openhab/conf/deploy/resources/addons/mariadb-java-client-2.7.4.jar /opt/openhab/addons/mariadb-java-client-2.7.4.jar

ExecStop=/usr/bin/docker stop -t 2 %n ; /usr/bin/docker rm -f %n

[Install]
WantedBy=multi-user.target
