[Unit]
Description=Externally visible mosquitto server
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=main

# Run once before start:
# - mkdir -p /var/lib/mosquitto-external
# - chown mosquitto:root /var/lib/mosquitto-external
ExecStart=/usr/sbin/mosquitto -c /opt/openhab/prod/conf/deploy/resources/external-mosquitto/external-mosquitto.conf

Restart=on-failure

[Install]
WantedBy=multi-user.target