[Unit]
Description=openhab-camera

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=3
ExecStart=/opt/openhab/prod/conf/scripts/MQTT/mqtt-camera.py

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=openhab-camera

[Install]
WantedBy=multi-user.target
