[Unit]
Description=openhab-powermeter

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=60
ExecStartPre=/bin/sleep 3
ExecStartPre=/bin/systemctl restart bluetooth
ExecStartPre=/bin/sleep 3
ExecStart=/opt/openhab/conf/scripts/POWERMETER/powermeter.sh

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=openhab-powermeter

[Install]
WantedBy=multi-user.target
